extends layout

block content
    div(class='anotherContainer')
        div(class='singleItemContainer')
            div(class='itemName')
                h1= title
            div(class='itemPic')
                p img
            div(class='itemDescription')
                p= item.name
                p= item.description
                p= item.category.name
                p= item.category.description
    
            div(class='itemPrice')
                p= "$"+(item.price).toFixed(2)
                p= "In stock: " + item.number_in_stock
                p= "Do you really wish to delete this item?"
                form(method='POST' action='')

                    button(class='button' type='submit') Delete 