extends layout

block content
    div(class='anotherContainer')
        div(class='singleItemContainer')
            div(class='itemName')
                h1= title
            div(class='itemPic')
                img(src='images/' + image)
                
            div(class='itemDescription')
                p= item_info.name
                p= item_info.description
                
    
            div(class='itemPrice')
                p= "$"+(item_info.price).toFixed(2)
                p= "In stock: " + item_info.number_in_stock
                button(class='button') Add to cart

            a(href= item_info.url+'/deleteItem') Delete Item
            a(href= item_info.url+'/updateItem') Update Item
                
    
    